html {
	font-size: 16px;
}
body {
	font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif; 
}

ul {
	list-style: none;
}
.btn-primary {
	background-color: #5C5BE0;
}
.home-page {
}
.hero-section {
	width: 100%;
	height: 100vh;
	background-color: #5C5BE0;
}
.hero-section header {
	width: 63%;
	margin: auto;
}
.profile-div {
	display: flex;
	justify-content: flex-end;
}
.profile {
	width: 50px;
	border-radius: 50%;
}
.logo{
	width:100px;
	height: 100px;
	border-radius: 50%;
	background: #312FC2;
	text-align: center;
	padding: 30px;
}
nav {
	height: 50px;
	max-height: 100px;
}
nav ul {
	display: flex;
	height: 100%;
	width: 70%;
	margin-top: -50px;
	margin-left: 30%;
	list-style: none;
	background-color: #312FC2;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
nav li {
	display: inherit;
	justify-content: center;
	align-items: center;
	height: 100%;
}
nav li:hover {
	display: inherit;
	justify-content: center;
	align-items: center;
	background-color: #E5E5E5;
}
nav ul a {
	text-decoration: none;
	color: #E5E5E5;
	font-weight: bolder;
	width: 100%;
	height: 100%;
	padding: 13px;
}
nav ul a:hover {
	text-decoration: none;
	color: #1C1B8E;
}
.active-page {
	display: inherit;
	justify-content: center;
	align-items: center;
	background-color: #1C1B8E;
}
.carousel {
	height: 50%;
}
.carousel-item {
	position: relative;
	top: 50px;
	left:36%;
	background: #EEEEEE;
	width: 240px;
	height: 260px;
}
.bg-flowers {
	width: 240px;
	height: 120px;
	background-color: #EEEEEE;
}
.bg-flowers img {
	width: 100%;
	height: 100%;
	position: relative;
}
.carousel .profile-div {
	position: absolute;
	top: 90px;
	left: 90px;
}



.about-section {
	padding: 30px;
}
.recent-posts {
	background-color: #F9F9F9;
}
.post-profile {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background-color: #CCCCCC;
}
.footer-section {
	background-color: #5C5BE0;
	color: #EEEEEE;
}
.upper-footer a {
	color: #EEEEEE;

}
.copyright {
	background-color: #1C1B8E;
	color: #EEEEEE;
	font-size: 10px;
}